@font-face {
    font-family: 'Comic Neue';
    src: url('/css/ComicNeue-Regular.ttf') format('truetype');
    font-display: swap;
}

body {
  font-family: 'Comic Neue', cursive;
  color: yellow;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
#overview {
    min-width: min-content;
    max-width: max-content;
    margin: 0 auto;
}
#tuxDiv {
    background: url(/index_files/Tux_Mono.svg.png) repeat;
    height: 300px;
    width: 100%;
}
#penDiv {
    background: url(/index_files/penguin-bod.webp) repeat;
    height: 900px;
    width: 100%;
}
#mainBod {
    background-image: url(/index_files/Apex_3D_Logo_2_.png);
    background-repeat: repeat;
    background-color: #a25300;
    border: 70px solid;
    min-height: 100vh;
    box-sizing: border-box;
    border-image: url(/index_files/dollarspindownd.gif) 50 / 6 / 0 stretch;
}
#linhead {
    background: white;
    color: black;
}
.lincontent {
    color: black;
    vertical-align: top;
    width: 40%;
}
.navctr {
  margin-bottom: 30px;
  height: 36px;
  min-width: min-content;
  max-width: max-content;
  background-color: black;
  color: white;
  border: 1px solid #e5e5e5;
}

.nav > ul > li:last-child > a {
  border-right: 0;
}
.nav-img {
  height: 15px;
}
.nav-link {
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 11px;
  padding-top: 11px;
  line-height: 16px;
  margin: 0;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  border-radius: 0;
  color: yellow;
  background: black;
  display: block;
}
.nav-link:hover {
  padding-left: 13px;
  background: yellow;
  color: black;
  border-right-color: #ddd;
  border-left: 0;
}
.addBanner {
  width: 469px;
  margin: auto;
  height: 80px;
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
  line-height: 80px;
  background-color: white;
  color: darkblue;
}
.apexAlert {
  color: #00cfff !important;
  text-decoration: none;
  font-size: 40px;
  line-height: 35px;
}
.nav {
  margin: 0 0 10px 0px;
  padding: 0;
  list-style: none;
}
.container {
  margin: auto;
  width: 75%;
}
blink {
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.subhead {
  padding-bottom: 0;
  margin-bottom: 9px;
}
li {
  float: left;
  line-height: 20px;
  list-style: none;
}

html.dither>body>div{
  background: url("data:image/webp;base64,UklGRjAAAABXRUJQVlA4TCQAAAAvA8AAAIVS27ahb3uzOUmSJoqqrOq6P47of8DQdcprYdP8/VY=");
  filter: contrast(2000);
  image-rendering: crisp-edges;
}
html.dither>body>div>div{
  filter: initial;
  mix-blend-mode: soft-light;
  isolation: isolate;
  image-rendering: initial;
}

#eyes {
  display: inline-block;
}

#eyes>summary {
  cursor: pointer;
  font-size: 0;
}

#eyes[open]>div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  pointer-events: none;
}

@font-face {
  font-family: "MiiverseSymbols";
  src: url('MiiverseSymbols-Regular.ttf');
  src: url('MiiverseSymbols-Regular.eot') format('embedded-opentype'), url('MiiverseSymbols-Regular.woff') format('woff'), url('MiiverseSymbols-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#yeah, #yeah div {
  vertical-align: top;
}
#yeah-toggle:checked+label>#yeah-off {
  display: none;
}
#yeah-toggle:not(:checked)+label>#yeah-on {
  display: none;
}
#yeah div {
  font-family: 'Helvetica', 'Arial', sans-serif;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  padding: 3px 5px 2px;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  background: #FFF;
  font-size: 12px;
  color: #323232;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  -ms-box-shadow: inset 0 1px 0 #fff;
  -o-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
}
#yeah div::before {
  font-family: "MiiverseSymbols", sans-serif !important;
  font-weight: normal !important;
  content: "E";
  font-size: 16px;
  color: #969696;
  margin-right: 2px;
  margin-top: -3px;
  display: inline-block;
  vertical-align: middle;
}
